/**
Title: projects.css
Author: Soliman Abdelmalak
Date: 05/05/2021
Description: Styling for the projects.html file
*/

/**
   This is the setup for the main div #projects-container.
*/
.projects-container {
    box-sizing: border-box;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    padding: 10px;
    grid-gap: 20px;
    position: relative;
}
/* Single column display for phones */
@media (max-width: 459px) {
    .archive {
      display: flex;
      flex-direction: column;
    }
  }
/**
   This is the setup for the figure div .projects.
*/

.projects {
    display:inline grid;
    text-align: center;
    margin-top: -50px;
}
/**
   This is the setup for the projects img width and height  .
*/
.projects img {
    width: 200px;
    height: 100px;
}

/**
   This is the setup  for .title to be on the top element .
*/
.title{
    color: #4F3674;
    text-align: center;
    z-index: 1000;
    position: relative;
}
/**
   This is the setup  for the figcaption font.
*/
figcaption{
    Font-family:'oswald',Georgia,'Times New Roman',serif;
    font-size: 1.1em;
    color: #4F3674;
    text-align: center;
}