/**
Title: site.css
Author: Soliman Abdelmalak
Date: 05/05/2021
Description: Styling for the index.html file
*/

/**
HTML and the body font-family set to the  Google font.
*/
body {
    font-family:'Oswald',Verdana, Arial, sans-serif; 
    color: #000;
    margin: 0;
    background-color:#e6ffff;
    font-size: 16px;
}
/**
This is the Set up of the .header bar title.
*/
#banner {
    margin: -1% 0 0;
    padding-top: 10px;
    text-align: center;
    height: 100px;
    background-color: #3c275a;
    color: #fff;
    border-bottom: 1px solid #D6A800;
}
/*These are the Set up of the .nav-container*/
#nav-container {
    margin: -16px 0 0 0;
    padding: 0;
    height: 42px;
    list-style-type: none;
    border-bottom: 1px solid #bbbbbb;
    background-color: #4F3674;
}
/* nav-list styling*/
#nav-list {
    list-style-type: row;
    margin: 0px;
    padding: 0px;
    font-size: 1.1em;

}
/**
This is the header Set for #nav-list li.
*/
#nav-list li {
    float: left;
    margin: 0;
    padding: 0;
    width: auto;
    display: block;
}
/**
This is the header Set for ##nav-list li a.
*/
#nav-list li a {
    background-color: #4F3674;
    color: #fff;
    text-decoration: none;
    padding: 3px 5px 3px 5px;
    display: block;
}
/**
This is the header Set for #nav-list li a:hover.
*/
#nav-list li a:hover {
    color: #4F3674;
    background-color: #fbf8e6;
    border-bottom: 3px solid #4F3674;
    cursor: pointer;
}

.main-content {
    margin: 0;
    padding: 10px;
    background-color: #fff;
}
/*footer styling*/
#footer {
    font-size: 1.1em;
    text-align: center;
    height: 20px;
    border-top: 1px solid #D6A800;
    padding: 0 0 35px 0;
    font-style: italic;
    background-color: #3c275a;
    color: #fff;
    position: relative;
    bottom: 0;
    width: 100%;
}

/* visited link */
#footer a:link {
    color: #fff;
    text-decoration: none;
}
/* visited link */
#footer a:visited {
    color: #fff;
}
/**
 These are the Set of the anchor tag’s hover
*/
#footer a:hover {
    color: #4F3674;
    background-color: #fbf8e6;
}

/**
These are the Set of the .assign-container
*/
.assign-container {
    padding: 10px;
    min-height: 100vh;
}
/**
These are the Set of the .assign-content
*/
.assign-content {
    box-sizing: border-box;
    width: 75%;
    margin: 3% auto 0;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 0px;
}


/**
   This is the setup  for .app-header.
*/
.app-header {
    text-align: center;
    font-weight: 400px;
    border: none;
    color: inherit;
    background-color: inherit;
    color: #4F3674;
}
/**
   This is the setup  for h2.
*/
h2{
    text-align: center;
    color: #000099;
    font-size: 1.6em;
}

/**
   This is the setup  for h3.
*/
h3{
    text-align: center;
    color: #4F3674;
    font-size: 1.4em;


}
/**
   This is the setup  for h6.
*/
h6{
    font-size: 1.2em;
    font-family:'Arial',Oswald, Verdana, sans-serif;   
}

 /* This is the setup for the .card */
.card {
    box-shadow: 0 4px 8px 4px rgba(0, 0, 0, 0.2);
    transition: 0.3s;
     margin: 3% auto 0;
}

 /* This is the setup for the card-title */
.card-title {
    Font-family:'oswald',Georgia,'Times New Roman',serif;
    text-align: left;
    font-size: 1.5em;
    color: black;
    font-weight: 400;
}

 /* This is the setup for the card-content */
.card-content {
    padding: 2px 16px;
}

 /* This is the setup for the .card:hover */
.card:hover {
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}

/**
This is the setup for the drop-down-menu
*/
.drop-down-menu {
    display: none;
    position: relative;
    border-radius: 4px;
    box-sizing: border-box;
}

/**
This is the setup for the drop-down-hover
*/
  .dropdown:hover .drop-down-menu {
    display: block;
  }
/**
This is the setup for the   Important Links
*/
.links{
     Font-family:'Roboto',Georgia,'Times New Roman',serif;
     font-size: 1.5em; 
     font-style: italic;
     margin-left: 15%;
}


/**
This is the setup for the text in the footer navbar .
*/
#button {
  float: right;
  margin-right: 30px;
  Font-family:'Roboto',Georgia,'Times New Roman',serif;
  font-weight: 400;
  font-size: 1.1em;
}
/**
This is the setup for the index main photo .
*/
.photo-container {
    width: 18em;
    float: right;
    height: 26em;
  }
  /**
These are the Setup of the anchor tags.
*/
a{
    color:#453674;
    text-decoration: none;
  }
  /**
  These are the Set of the anchor tag’s hover
  */
   a:hover {
     background-color:#fbf8e6;
     color:#4F3674 ;
  }
  /**
  this is about page .images setup.
  */
  .images{
     display: grid; 
     box-sizing: border-box;
     grid-template-columns: auto auto auto auto;
     margin-bottom: 100px;
     margin-top: 50px;
     text-align: center;
}
/**
  this is about page .main-picture setup.
*/
.main-picture{
    border-radius: 35%;
    margin-left: 550px;
    margin-bottom: -50px;
}
/**
   This is the setup  for #blue color class.
*/
#blue{
    color:#0000bb;
}

 


 /**
   This is  the beginning of the styling for resume.html
 */

  /** This is the set up for skill div ul. */
  .skills{
    box-sizing: border-box;
    display: grid; 
    grid-template-columns: auto auto auto;
    gap: 0;
    font-size: 1.4em;
 }
 /** This is the set up for the Education table. */
table { 
    border-collapse: collapse;
    font-size: 1.4em;   
    margin-bottom: 30px;
}
 /** This is the set up for the Education table header. */
th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
 }

/** This is the set up for the Education List table data. */
td, th {
    background-color: transparent;
    border: 0px solid;
    padding: 10px;
    border-color: none;
}

/** These are the set up for the EXPERIENCE List table shrink and expand classes. */
table td.shrink {
    white-space: nowrap;
}
table td.expand {
    width: 99%;
}
/**
   This is the main div .resume setup  for the resume page.
*/
.resume{
    border-style: solid; 
    margin: 50px;
  }




/**
   This is the beginning of the bucket.html styling.
 */
 

/** This is the setup for un order .myList. */
 .myList {
    box-sizing: border-box;
    display: grid;
    height: 400px;
    grid-template-columns: 800px;
    grid-template-rows: repeat(7, 1fr);
    background-color: #E0FFFF	
}
ol{
    font-family:'Oswald',Verdana, Arial, sans-serif; 
    text-align: left;
    font-size: 1.4em;
}



/* This is the setup for place holder */
.input {
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    width: 100%;
    height: 75px;
    margin-left: auto;
}